<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}index_page{% endblock %} - Sven's Blog</title>
</head>
<body>
<div>Top Categories:
    {% for cate in navs %}
    <a href="{% url 'blog:post_list_for_category' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>
<hr/>

{% block main %}
{% endblock %}

<hr/>
<div>Bottom Categories:
    {% for cate in categories %}
    <a href="{% url 'blog:post_list_for_category' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>

<hr/>
<div>SideBar:
    {% for sidebar in sidebars %}
        <h4>{{ sidebar.title }}</h4>
        {{ sidebar.content_html }}
    {% endfor %}
</div>

</body>
</html>